.field.password .control {
	position: relative;
}

.password-control {
	position: absolute;
	display: inline-block;

	width: 20px;
	height: 20px;
	top: 6px;
	right: 12px;

	z-index: 5;

	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
	cursor: pointer;
}