<li id="hot_deals" data-bind="fadeVisible: isVisible" class="hot_deals">
  <div class="step-title" data-bind="i18n: 'Hot Deals'" data-role="title"></div>
  <div id="checkout-step-title"
       class="step-content"
       data-role="content">
      <br/>
      <form data-bind="submit: addToCart" novalidate="novalidate" class="form">
          <div class="hot-deals" data-bind="foreach: getProductsList()">
              <p>
                  <input type="checkbox" name="product_id" data-bind="attr: {id: 'product_id_' +id, value: id}"/>
                  <label class="product-detail" data-bind="text: name + ' ' + price, attr: {for: 'product_id_' +id}"></label>
              </p>
          </div>
          <div class="actions-toolbar">
              <div class="primary">
                  <button data-role="opc-continue" type="submit" class="button action add-to-cart primary">
                      <span data-bind="i18n: 'Add to Cart'"></span>
                  </button>
                  <button data-role="opc-continue" type="button" class="button action continue primary" data-bind="click: navigateToNextStep">
                      <span data-bind="i18n: 'Skip & Next'"></span>
                  </button>
              </div>
          </div>
      </form>
  </div>
</li>