// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .page-header {
    background: #f5f5f5;
  }

  .navigation > ul {
    text-align: center;
    text-transform: uppercase;
  }

  .navigation .level0 > .level-top,
  .navigation .level0 > .level-top.ui-state-focus {
    transition: all .0s;
  }

  .navigation .level0 > .level-top:hover,
  .navigation .level0 > .level-top.ui-state-focus {
    color: #8ad194;

    border-style: solid;
    border-width: 0 0 3px;
    border-color: #8ad194;

    text-decoration: none;
  }

  .header.panel > .header.links > li.welcome, 
  .header.panel > .header.links > li a {
    color: #575757;

    transition: all .3s;
  }

  .header.panel > .header.links > li.welcome, 
  .header.panel > .header.links > li a:hover {
    color: #8ad194;
    
    text-decoration: none;
  }

  .navigation .level0 .submenu a {
    transition: all .3s;
  }

  .navigation .level0 .submenu a:hover {
    color: #8ad194;
  }

  .navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top {
    color: #8ad194;

    border-color: #8ad194;
  }

  .cms-index-index {
    .page-title-wrapper {
      display: none;
    }
  }
}


// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  // code
}