@page__background-color: #fff;
@text__color: #000;
@font-family__base: 'Arial', sans-serif;

.product-item {
  padding: 10px !important;

  transition: all .5s;
}

.product-item:hover {
  transform: translateY(-3px);

  box-shadow: 4px 30px 30px 12px rgba(0, 0, 0, .05);
}
